<!-- FORM -->
<div class="row">
  <div class="container">
    <div class="row"><h2 style="color:#ec6608;font-size:28px;">Datos del Alumno</h2></div>
    <div class="row">
      <form class="form-horizontal" action="/action_page.php">
        <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-sm-4" for="rut">RUT:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="rut"
                    name="rut"
                    [(ngModel)]="student.rut"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="nombres">Nombres:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="nombres"
                    name="nombres"
                    [(ngModel)]="student.nombres"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="apellido1">Apellido Paterno:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="apellidoPaterno"
                    name="apellidoParteno"
                    [(ngModel)]="student.apellidoParteno"
                    required>
                  </div>
                </div> <div class="form-group"> <label class="control-label col-sm-4" for="apellido2">Apellido Materno:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="apellidoMaterno"
                    name="apellidoMaterno"
                    [(ngModel)]="student.apellidoMaterno"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="email">e-mail:</label>
                  <div class="col-sm-8">
                    <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    [(ngModel)]="student.email"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="email2">Confirme su e-mail:</label>
                  <div class="col-sm-8">
                    <input
                    type="email"
                    class="form-control"
                    id="emailConfirmacion"
                    name="emailConfirmacion"
                    [(ngModel)]="student.emailConfirmacion"
                    required>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-sm-4" for="calle">Calle:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="calle"
                    name="calle"
                    [(ngModel)]="student.calle"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="numero">Numero:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="numero"
                    name="numero"
                    [(ngModel)]="student.numero"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="departamento">Departamento:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="departamento"
                    name="departamento"
                    [(ngModel)]="student.departamento"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="fechanac">Fecha de Nacimiento:</label>
                  <div class="col-sm-8">
                    <input
                      type="date"
                      class="form-control"
                      id="fechaNacimiento"
                      name="fechaNacimiento"
                      [(ngModel)]="student.fechaNacimiento"
                      required>
                    <!--input
                      class="form-control"
                      type="text"
                      mwlFlatpickr
                      [(ngModel)]="student.fechaNacimiento"
                      [altInput]="true"
                      [convertModelValue]="true"
                      [inline]="true">
                      <p>Presione dos veces para confirmar</p-->
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="codvendedor">Codigo vendedor:</label>
                  <div class="col-sm-8">
                    <input
                    type="text"
                    class="form-control"
                    id="codigoVendedor"
                    name="codigoVendedor"
                    [(ngModel)]="student.codigoVendedor"
                    required>
                  </div>
                </div>

            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div align="center">
                <button type="submit" class="btn btn-default" (click)="nextStep()">Siguiente</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>

</div>
