<div class="container" align="left">
    <div class="col-md-6">
      <h4 style="color: #f39500">Horarios de clases teoricas</h4>
      <h6>Lunes a Sabado, de 19:00 a 21:00 hrs.</h6>
      <h4 style="color: #f39500">Horarios de clases practicas</h4>
      <h6>Disponibles segun tu seleccion, desde: Lunes 16 de octubre al jueves 19 de octubre.</h6>
      <h5 style="color: #f39500">Puede seleccionar el horario que mejor le acomode</h5>
      <div class="container">
          <div class="row" align="left">
            <p>
            <span style="background-color: #aedabd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Tarifa Baja (10%)   </b>
            <span style="background-color: #fcce9e">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Tarifa Media (5%)   </b>
            <span style="background-color: #e2a1a4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Tarfica Alta (0%)   </b></p>
          </div>
          <div class="row" align="left">
            <p>
            <span style="background-color: #859ea7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> No Disponible</b><br>
          </div>
      </div>
      <div>
        <table class="table">
          <tr>
            <td style="background-color: #aedabd"><input  type="radio" name="optradio" (change)="nextStep()">  6:30 - 7:15</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio" (change)="nextStep()">  11:45 - 12:30</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio" (change)="nextStep()">  17:00 - 17:45</td>
          </tr>
          <tr>
            <td style="background-color: #aedabd"><input  type="radio" name="optradio" (change)="nextStep()">  7:15 - 8:00</td>
            <td style="background-color: #aedabd"><input  type="radio" name="optradio" (change)="nextStep()">  12:30 - 13:15</td>
            <td style="background-color: #e2a1a4"><input  type="radio" name="optradio" (change)="nextStep()">  17:45 - 18:30</td>
          </tr>
          <tr>
            <td style="background-color: #aedabd"><input  type="radio" name="optradio" (change)="nextStep()">  8:00 - 8:45</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio" (change)="nextStep()">  13:15 - 14:00</td>
            <td style="background-color: #e2a1a4"><input  type="radio" name="optradio" (change)="nextStep()">  18:30 - 19:15</td>
          </tr>
          <tr>
            <td style="background-color: #aedabd"><input  type="radio" name="optradio">  8:45 - 9:30</td>
            <td style="background-color: #859ea7"><input  type="radio" name="optradio">  14:00 - 14:45</td>
            <td style="background-color: #859ea7"><input  type="radio" name="optradio">  19:15 - 20:00</td>
          </tr>
          <tr>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  9:30 - 10:15</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  14:45 - 15:30</td>
            <td style="background-color: #859ea7"><input  type="radio" name="optradio">  20:00 - 20:45</td>
          </tr>
          <tr>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  10:15 - 11:00</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  15:30 - 16:15</td>
            <td style="background-color: #e2a1a4"><input  type="radio" name="optradio">  20:45 - 21:30</td>
          </tr>
          <tr>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  11:00 - 11:45</td>
            <td style="background-color: #fcce9e"><input  type="radio" name="optradio">  16:15 - 17:30</td>
            <td style="background-color: #e2a1a4"><input  type="radio" name="optradio">  21:30 - 22:15</td>
          </tr>
        </table>
      </div>
    </div>
</div>
