<div>
  <div class="col-md-6" align="center">
    <div class="col-md-offset-1">

      <div class="calendar-bg-gris">
          <h3> Calendario </h3>
          <div class="row">

              <div class="col-md-6" align="left">
                <p>
                <span class="calendar1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Inicio Disponible</b><br>
                <span class="calendar2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Dias de Clases Teoricas</b><br>
                <span class="calendar3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> No Disponible - Festivos</b></p>
              </div>
              <div class="col-md-6" align="left">
                <p>
                <span class="calendar4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Fecha de Inicio Seleccionada</b><br>
                <span class="calendar5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b> Dias de Clases Practicas</b></p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel-body inline-flatpickr">
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="selectedDate"
                [altInput]="true"
                [convertModelValue]="true"
                [inline]="true"
                [enable]="enablesDate"
                (flatpickrChange)="nextStep()">
            </div>
            <p>Presione dos veces para confirmar</p>
            <div class="col-md-12">
              <dl>
                  <dt class="calendar2"> Inicio de Clases Teoricas:               1 de Agosto</dt>
                <dt class="calendar2"> Termino de Clases Teoricas:               9 de Agosto</dt>
              </dl>
          </div>
        </div>
      </div>
    </div>
