<!-- Resumen -->
<div class="container">
  <div class="row">
    <h2 style="color:#ec6608;font-size:28px;">Resumen del Curso Seleccionado</h2>
    <hr style="border-top: 1px solid #ec6608;">
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="{{'http://peuman.cl/apps/ventaonline_20170925/dist/assets/img/productos/'+categoria+'.png'}}" height="200px" width="180px"/>
    </div>
    <div class="col-md-3">
      <h4 style="color:#ec6608;">Curso Teorico</h4>
      <p>
        Lunes a Sabado, de 9:00 a 12:00 hrs.<br>
        Inicio: {{inicio | date:'yMMMMEEEEd'}}<br>
        Termino: {{fin | date:'yMMMMEEEEd'}}
      </p>
      <h4 style="color:#ec6608;">Curso Practico</h4>
      <p>
        Inicio: {{inicio | date:'yMMMMEEEEd'}}<br>
        Termino: {{fin | date:'yMMMMEEEEd'}}
      </p>
      <h4 style="color:#ec6608;">Numero de Tramos</h4>
      <p>
        <b>12</b>
      </p><br><br>
      <h4 style="color:#ec6608;">Valor de la Compra</h4>
      <h3>
        <b>{{modalidad.precio | currency}}</b>
      </h3>

    </div>
    <style type="text/css">
      .grey {
        background-color: #8ea3ad;
      }
      .gris {
        background-color: #edeff2;
      }

    </style>
    <div class="col-md-7">
      <h4 style="color:#ec6608;">Horarios Curso Practivo Baja</h4>
      <table class="table" style="background-color:#edeff2;">
          <colgroup>
            <col class="gris" />
            <col class="grey" />
            <col class="gris" />
            <col class="gris" />
            <col class="gris" />
            <col class="grey" />
            <col class="gris" />
          </colgroup>
          <thead>
            <tr>
              <th>Sesion</th>
              <th>Hora</th>
              <th>Valor</th>
              <th></th>
              <th>Sesion</th>
              <th>Hora</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>

            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>
            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>
            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>
            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>
            <tr>
              <td>1 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
              <td></td>
              <td>7 Jue 10 Ago</td>
              <td>6:30 - 7:15</td>
              <td>$7.499</td>
            </tr>

          </tbody>
        </table>
    </div>
  </div>
</div>
